@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@500&display=swap");
* {
  margin: 0;
  padding: 0; }

header {
  font-size: larger;
  text-align: center;
  background-color: #FCF5EE; }

div.slide {
  padding: 0px; }

nav {
  background-color: #FBE8E7; }

.cardFlex {
  display: flex;
  justify-content: center;
  padding-top: 1rem; }

.types {
  background-color: #F7DDDE; }

section.contact form {
  margin-left: 10rem;
  margin-right: 10rem; }

.filterContainer {
  background-color: #FCF5EE;
  border: 5px solid #FFC4D0; }

.filter {
  background-color: #F7DDDE; }

.productos {
  background-color: #FBE8E7; }

.pCard {
  height: auto;
  margin-bottom: 1rem; }

summary,
.card-body {
  background-color: #FCF5EE;
  height: 17rem; }

.btn-outline-primary {
  color: #ff6886;
  border-color: #ff6886; }

.terms {
  background-color: #FBE8E7; }

.bgCustomTerms {
  background-color: #FFC4D0; }

.borderTerm {
  border: 5px solid #FFC4D0;
  border-radius: 2rem; }

footer div.container {
  background-color: #FFC4D0; }

footer {
  background-color: #FFC4D0; }

@media screen and (max-width: 767px) {
  .cardMarg {
    margin: 2rem 20% 0rem 20%; }
  .row {
    margin: 0px; } }

@media screen and (min-width: 768px) {
  section.types {
    padding: 2rem 10rem 2rem 10rem; }
  .row {
    display: flex;
    justify-content: center; } }

@media screen and (min-width: 1024px) {
  * {
    font-size: 20px; }
  nav {
    font-size: 40px; } }
